[submodule "vimfiles/Vundle.vim"]
	path = modules/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim
[submodule "vimfiles/oh-my-zsh"]
	path = modules/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh
[submodule "modules/tmux-config"]
	path = modules/tmux-config
	url = git@github.com:samoshkin/tmux-config
